spring:
  application:
    name: cli-password-manager
  profiles:
    active: file-storage, shell

clipboard:
  clearAfterSeconds: 30

api:
  hibp:
    url: https://api.pwnedpasswords.com/range/
    delay: 1500 # ms