spring:
  datasource:
    url:
    username:
    password:

  jpa:
    database-platform:
    show-sql: true
    hibernate:
      ddl-auto:
    properties:
      hibernate:
        jdbc:
          time_zone:
        format_sql: true
        dialect:

# there is no dependence yet