spring:
  main:
    banner-mode: off
  application:
    name: cli-password-manager
  profiles:
    active: file-storage, shell, file
  shell:
    command:
      stacktrace:
        enabled: false

logging:
  file:
    local-path: ${user.home}/.cli-password-manager/logs

clipboard:
  clearAfterSeconds: 30

api:
  hibp:
    url: https://api.pwnedpasswords.com/range/
    delay: 1500 # ms