<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

<!--    Here are the standard logging settings from Spring Boot   -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context"
              name="LOGS_PATH"
              source="logging.file.local-path"
              defaultValue="logs"
    />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/app-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/archive/app-info-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%15.15t] %-40.40logger{39} : %msg%n%nopex</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ERROR_STACK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/app-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/archive/app-error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID} --- [%15.15t] %-40.40logger{39} : %msg%n%ex{full}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <springProfile name="default, console">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="file">
        <root level="INFO">
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_ERROR_STACK" />
        </root>
    </springProfile>

    <springProfile name="console-and-file">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_ERROR_STACK" />
        </root>
    </springProfile>

</configuration>