name: tests, build and release

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: run tests
        run: mvn -B clean verify

  build:
    needs: tests
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        include:
          - os: windows-latest
            ARTIFACT_TYPE: exe
            INSTALLER_TYPE: exe
          - os: macos-latest
            ARTIFACT_TYPE: dmg
            INSTALLER_TYPE: dmg
          - os: ubuntu-latest
            ARTIFACT_TYPE: deb
            INSTALLER_TYPE: deb

    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: install WiX Toolset
        if: matrix.os == 'windows-latest'
        run: choco install wixtoolset

      - name: install linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y fakeroot dpkg-dev
          
      - name: build with maven
        run: mvn -B clean package -DskipTests

      - name: set APP_VERSION variable from tag
        run: |
          $versionTag = "${{ github.ref_name }}"
          if ($versionTag -eq "") {
            $version = "0.0.0-test"
          } else {
            $version = $versionTag.Substring(1)
          }
          echo "APP_VERSION=$version" >> $env:GITHUB_ENV
          echo "JAR_NAME=cli-password-manager-$version.jar" >> $env:GITHUB_ENV
        shell: pwsh

      - name: set pom version from tag
        if: env.APP_VERSION != '0.0.0-test'
        run: mvn versions:set -DnewVersion="${{ env.APP_VERSION }}"

      - name: build with maven
        run: mvn -B clean package -DskipTests

      - name: set artifact name
        run: echo "ARTIFACT_NAME=cli-password-manager-${{ env.APP_VERSION }}.${{ matrix.ARTIFACT_TYPE }}" >> $env:GITHUB_ENV
        shell: bash

      - name: clear old artifact
        run: Remove-Item -ErrorAction SilentlyContinue ./${{ env.ARTIFACT_NAME }}
        shell: pwsh

      - name: build installer
        run: |
          $jpackageArgs = @(
            "--name", "cli-password-manager",
            "--vendor", "com.manager",
            "--input", "target/",
            "--main-jar", "${{ env.JAR_NAME }}",
            "--add-modules", "java.base,java.logging,java.management,java.naming,java.sql,java.xml,java.desktop,java.security.jgss,jdk.unsupported,java.net.http,jdk.crypto.ec",
            "--jlink-options", "--strip-debug --compress 2 --no-header-files --no-man-pages",
            "--type", "${{ matrix.INSTALLER_TYPE }}"
          )
          
          if ("${{ matrix.os }}" -eq "windows-latest") {
            echo "build windows installer..."
            $jpackageArgs += @(
              "--app-version", "${{ env.APP_VERSION }}",
              "--java-options", "-Dspring.output.ansi.enabled=ALWAYS",
              "--java-options", "-Djava.awt.headless=false",
              "--win-console",
              "--win-dir-chooser",
              "--win-menu"
            )
          }
          elseif ("${{ matrix.os }}" -eq "macos-latest") {
            echo "build macos installer..."
            $appMacVersion = "${{ env.APP_VERSION }}".Split('.')
            if ([int]$appMacVersion[0] -le 0) {
              $appMacVersion = "1." + $appMacVersion[1] + "." + $appMacVersion[2]
            } else {
              $appMacVersion = "${{ env.APP_VERSION }}"
            }
            $jpackageArgs += @(
              "--app-version", $appMacVersion,
              "--java-options", "-Dspring.output.ansi.enabled=ALWAYS",
              "--java-options", "-Djava.awt.headless=false"
            )
          }
          elseif ("${{ matrix.os }}" -eq "ubuntu-latest") {
            echo "build linux installer..."
            $jpackageArgs += @(
              "--app-version", "${{ env.APP_VERSION }}",
              "--java-options", "-Dspring.output.ansi.enabled=ALWAYS",
              "--java-options", "-Djava.awt.headless=false"
            )
          }
          
          Write-Host "Running jpackage with args: $jpackageArgs"
          jpackage $jpackageArgs
          
          if ($LASTEXITCODE -ne 0) {
            Write-Error "jpackage failed!"
            exit 1
          }

        shell: pwsh

      - name: create github release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "cli-password-manager-${{ env.APP_VERSION }}.${{ matrix.ARTIFACT_TYPE }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          tag: "${{ github.ref_name }}"

  publish-jar:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: set up jdk 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: set APP_VERSION variable from tag
        run: |
          $versionTag = "${{ github.ref_name }}"
          if ($versionTag -eq "") {
            $version = "0.0.0-test"
          } else {
            $version = $versionTag.Substring(1)
          }
          $version = $versionTag.Substring(1)
          echo "APP_VERSION=$version" >> $env:GITHUB_ENV
        shell: pwsh

      - name: Set pom.xml version from tag
        if: env.APP_VERSION != '0.0.0-test'
        run: mvn versions:set -DnewVersion=${{ env.APP_VERSION }}

      - name: publish jar to github packages
        run: mvn -B deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}